body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

p {
    line-height: 5px;
    /* within paragraph */
    margin-bottom: 15px;
    /* between paragraphs */
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

.button {
    background-color: #207352;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block
}


nav {
    background-color: rgb(96, 205, 103);
    color: white;
}

a:link,
a:visited {
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover,
a:active,
.button:hover {
    color: white;
    background-color: #207352
}

.green_bg {
    color: white;
    background-color: #207352
}

.purple_bg {
    background-color: #606ee8;
    color: white;
}

.dark_bg {
    background-color: #322d39;
    color: white;
    ;
}

body {
    background-color: powderblue;
    color: black;

}

h2 {
    color: darkblue;
    font-family: courier;
    font-size: 200%;
}

th {
    color: blue;
    font-family: courier;
    font-size: 100%;
}
